<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            border: none;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        body {
            width: 100vw;
            height: 100vh;
            color: #636363;
        }

        table,
        th,
        td {
            border: 1px solid #636363;
            border-collapse: collapse;
        }

        .title {
            height: 68.8px;
            text-align: center;
            font-size: 20.8px;
        }

        .title-date {
            font-size: 16px;
            font-weight: bold;
        }

        .subtitle {
            height: 68.8px;
            font-size: 16px;
        }

        .subtitle td {
            font-weight: 600;
            padding-left: 20px;
        }

        .content td {
            padding: 20px;
            border: none;
        }

        .content table {
            border: 2px solid #EDEDED;
            text-align: center;
        }

        .content table th {
            border: none;
            height: 28px;
        }

        .footer td {
            text-align: right;
            padding-right: 20px;
        }

        .image {
            float: right;
            width: 167px;
            height: 50px;
        }
    </style>
</head>

<body>
    <table border="1" width="100%">

        <tr class="title">
            <th colspan="2">SCE</th>
            <th colspan="2">Alerta de divergências sobre contagem </th>
            <th colspan="2" class="title-date"></th>
        </tr>


        <tr class="subtitle">
            <td colspan="6">Informações Gerais</td>
        </tr>

        <tr class="content">
            <td colspan="6" class="content-internal">
                <table width="100%">
                    <tr style="background-color: #EDEDED;">
                        <th>Cliente</th>
                        <th>Descri                                                  ção de Produto</th>
                        <th>Nota Fiscal</th>

                    </tr>
                    <tr>
                        <td>
                            <%= inforGeneral.client %>
                        </td>
                        <td>
                            <%= inforGeneral.desc_product %>
                        </td>
                        <td>
                            <%= inforGeneral.invoice %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="content">
            <td colspan="6" class="content-internal">
                <table width="100%">
                    <tr style="background-color: #EDEDED;">
                        <th>CNPJ</th>
                        <th>Cod.Produto</th>
                        <th>Usuario</th>

                    </tr>
                    <tr>
                        <td>
                            <%= inforGeneral.cnpj %>
                        </td>
                        <td>
                            <%= inforGeneral.cod_product %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr class="subtitle">
            <td colspan="6">Resumo</td>
        </tr>

        <tr class="content">
            <td colspan="6" class="content-internal">
                <table width="100%">

                    <tr style="background-color: #EDEDED;">
                        <td>Total em Nota</td>
                        <td>Total Escaneado</td>
                    </tr>
                    <tr>
                        <th>
                            <%= summary.total_in_invoice %>
                        </th>
                        <th style="color: rgb(243, 74, 74);">
                            <%= summary.total_scanned %>
                        </th>
                    </tr>

                    <tr style="background-color: #EDEDED;">
                        <td colspan="2">Motivo</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <%= summary.observation %>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr class="subtitle">
            <td colspan="6">Detalhamento</td>
        </tr>


        <tr class="content">
            <td colspan="6" class="content-internal">
                <table width="100%">
                    <tr style="background-color: #EDEDED;">
                        <th>Carrinho ( serial_number )</th>
                        <th>Quantidade de produtos</th>
                        <th>Data de Bipagem</th>

                    </tr>

                    <% detailing.forEach(function(detail){ %>

                        <tr>
                            <td>
                                <%- detail.serial_number %>

                            </td>
                            <td>
                                <%- detail.qtd_product %>

                            </td>
                            <td>
                                <%- detail.date_scanned %>

                            </td>
                        </tr>

                        <% }); %>


                </table>
            </td>





        </tr>


        <tr class="footer">

            <td colspan="" style="text-align:left">
                <!-- <img  src="cid:unique@cid" > -->
            </td>

            <td colspan="3" style="text-align:center"> Tutilabs e todas as marcas associadas são marcas da Tutiplast
            </td>

            <td colspan="" style="text-align:right">
                <!-- <img  src="cid:unique2@cid" > -->
            </td>
        </tr>


    </table>
</body>

</html>